a.tweetabletext {
  padding: 0 9px 2px 5px;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  text-decoration: none;
  border-bottom: transparent;
}
span#tweetablelogo {
  content: '';
  background: url('../icons/tweetable_front.svg');
  background-size: 100%;
  width: 20px;
  height: 20px;
  position: absolute;
  display: inline-block;
  margin: 0 4px;
  top: -5px;
  right: -19px;
}
